* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* border: 2px dashed red; */
}
/* common style */
.container {
  /* max-width: 1600px; */
  margin: 0 auto;
}
#hero-bg {
  width: 100%;
}
:root {
  --primary-color: #1a0b2e;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav section style */
header {
  background-color: var(--primary-color);
  /* border: 4px solid yellowgreen; */
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
  /* background-color: var(--primary-color); */
}
.tech {
  font-size: 32px;
  font-weight: 700;
  color: white;
}
#wave {
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 32px;
}
ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
nav > button {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  gap: 12px;
  cursor: pointer;
  transition:
    background-position 0.6s ease,
    transform 0.3s ease;
}
nav > button:hover {
  background-position: right center;
  transform: translateY(-2px);
}
nav > img {
  display: none;
}
/* banner section style */
.banner-container {
  /* border: 2px solid red; */
  min-height: 650px;
  background: url("../assets/hero-bg.png") no-repeat center;
  background-size: cover;
  /* display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 80px 20px;
}
.banner-img {
  /* border: 4px solid green; */
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle {
  width: 350px;
  height: 350px;
  /* position:relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#mic {
  /* background-color: green; */
  width: 115px;
  height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#new {
  background-color: #00ff88;
  color: #1a0b2e;
  /* width: 43px;
  height: 22px; */
  width: auto;
  height: 35px;
  font-weight: 600;
  border-radius: 999px;
  padding: 8px 16px;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 55%;
  z-index: 3;
}
.banner-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  gap: 10px;
}
.banner-description p {
  color: #ffffff;
  font-size: 16px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.banner-btn button {
  padding: 20px 12px;
  border-radius: 999px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 8px;
}
.banner-btn-left {
  color: #ffffff;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.banner-btn button.banner-btn-right {
  background: transparent;
  color: #00ff88;
  /* border: 2px solid #00ff88; */
}
/* About section  */
.about {
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 80px 20px;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about h1 {
  font-size: 48px;
  font-weight: 700;
  /* border:2px dashed red; */
  margin-bottom: 16px;
}
.about-text {
  font-size: 16px;
  line-height: 20px;
  color: #afa0a0;
  margin-bottom: 20px;
}
/* stats section */
.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  text-align: center;
}
.stat-box h3 {
  color: #00ff88;
  font-size: 36px;
  font-weight: 700;
}
.stat-box p {
  color: #ffffff;
  font-size: 14px;
}
/* features section */
.features {
  /* background-color:rgba(10, 8, 16, 0.4); */
  background-color: rgb(42, 15, 77);
  padding: 80px 20px;
  /* border: 2px solid red; */
}
.feature-container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  font-size: 36px;
  text-align: center;
  color: white;
  font-weight: 700;
  margin-bottom: 60px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(12 , 1fr); */
  gap: 30px;
  /* padding: 40px; */
}
.card-container .features-card:nth-child(1) {
  grid-column: span 4;
  grid-row: span 2;
  /* border: 2px solid white; */
}
.card-container .features-card:nth-child(2),
.card-container .features-card:nth-child(3),
.card-container .features-card:nth-child(4) {
  grid-column: span 8;
  /* border: 2px solid white; */
}
.card-container .features-card:nth-child(5) {
  grid-column: span 4;
}
.features-card {
  background: #2a0f4d;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.icon img {
  min-width: 40px;
  min-height: 40px;
}
.features-card h3 {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.features-card p {
  font-size: 16px;
  line-height: 24px;
  /* color: rgba(255, 255, 255, 0.363); */
  color: #87789b;
}
/* episodes section here */
.episodes {
  background-color: #1a0b2e;
  padding: 80px 20px;
}
.episodes-container {
  max-width: 1200px;
  margin: 0 auto;
}
.episode-section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  color: white;
}
.episode-card h3 {
  margin-top: 24px;
  font-size: 18px;
  color: white;
}
.episode-card p {
  color: #a79db3;
  font-size: 14px;
  margin: 10px 0;
}
.duration {
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
}
.min {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  gap: 4px;
}
.episodes-text {
  background: #250d44;
  padding: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.episode-image > iframe {
  width: 100%;
  background-size: cover;
  /* border: 2px solid red; */
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.episode-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 2px solid green; */
}
.episode-card {
  padding: 20px;
  /* border:2px solid red; */
  box-shadow: 0, 15px, 35px, 0, rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
/* host section */
.host-container {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid purple; */
}
.host-section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.host-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #250e44;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 100px;
}
.host-text-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.host-text-content h3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.host-text-content p {
  color: #67577c;
}
.host-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}
.host-icon img {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: 8px;
  object-fit: contain;
}
/* footer section */
.footer {
  background: url("../assets/footer-bg.png") no-repeat center;
  background-size: cover;
  padding: 80px 20px;
  /* max-width: 1600px; */
  margin: 0 auto;
  background-color: #1f1144;
  text-align: center;
}
.footer-content {
  max-width: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.footer-content h1 {
  /* border: 2px solid purple; */
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.footer-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 32px;
  justify-items: center;
   /* border:2px solid yellow; */
}
.footer-img-container span {
  color: #a5a1b6;
  font-size: 14px;
 
}
.copyright {
  color: #a5a1b6;
  text-align: center;
  /* border: 2px solid green; */
  margin-top: 32px;
  font-size: 16px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  /* border:2px solid red; */
}
.img img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
/* responsive media quary */
@media screen and (max-width: 576px) {
  nav {
    justify-content: space-between;
    padding: 20px;
  }
  nav > ul,
  nav > button {
    display: none;
  }
  nav > img {
    display: block;
  }
  #new {
    left: 62%;
  }
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .card-container .features-card {
    grid-column: span 1 !important;
  }
  .episode-card-container {
    grid-template-columns: 1fr;
  }
  .host-content {
    flex-direction: column;
    margin: 20px;
  }
  .footer-content h1{
    font-size:36px;
  }
  .footer-img-container {
    width: 350px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-left: 100px;
    padding:0 20px;
  }
  .footer{
    padding: 10px;
  }
}
