* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common style */
.container {
  max-width: 1600px;
  margin: 0 auto;
}
#hero-bg {
  width: 100%;
}
:root {
  --primary-color: #1a0b2e;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* nav section style */
header {
  background-color: var(--primary-color);
  border: 4px solid yellowgreen;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  /* background-color: var(--primary-color); */
}
.tech {
  font-size: 32px;
  font-weight: 700;
  color: white;
}
#wave {
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 32px;
}
ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
nav > button {
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  gap: 12px;
  cursor: pointer;
  transition:
    background-position 0.6s ease,
    transform 0.3s ease;
}
nav > button:hover {
  background-position: right center;
  transform: translateY(-2px);
}
nav > img {
  display: none;
}
/* banner section style */
.banner-container {
  border: 2px solid red;
  min-height: 650px;
  background: url("../assets/hero-bg.png") no-repeat center;
  background-size: cover;
  /* display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.banner-img {
  border: 4px solid green;
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle {
  width: 350px;
  height: 350px;
  /* position:relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#mic {
  /* background-color: green; */
  width: 115px;
  height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#new {
  background-color: #00ff88;
  color: #1a0b2e;
  /* width: 43px;
  height: 22px; */
  width: auto;
  height: 35px;
  font-weight: 600;
  border-radius: 999px;
  padding: 8px 16px;
  display: inline-block;

  position: absolute;
  top: 10%;
  left: 55%;
  z-index: 3;
}
.banner-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  gap: 10px;
}
.banner-description p {
  color: #ffffff;
  font-size: 16px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.banner-btn button {
  padding: 20px 12px;
  border-radius: 999px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 8px;
}
.banner-btn-left {
  color: #ffffff;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.banner-btn button.banner-btn-right {
  background: transparent;
  color: #00ff88;
  border: 2px solid #00ff88;
}
/* About section  */
.about {
  max-width: 1600px;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding:80px 20px;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-text {
  font-size: 16px;
  line-height: 20px;
  color: #afa0a0;
  margin-bottom: 20px;
}
/* stats section */
.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  text-align: center;
}
.stat-box h3 {
  color: #00ff88;
  font-size: 36px;
  font-weight: 700;
}
.stat-box p {
  color: #ffffff;
  font-size: 14px;
}
/* responsive media quary */
@media screen and (max-width: 576px) {
  nav {
    justify-content: space-between;
    padding: 20px;
  }
  nav > ul,
  nav > button {
    display: none;
  }
  nav > img {
    display: block;
  }
  #new {
    left: 62%;
  }
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
